.follow-breath-container {
  height: 99vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.exhale {
  color: #fff;
  position: fixed;
  top: 150px;
  width: 80%;
  font-size: 80px;
  margin: 0 auto;
  font-weight: 500;
  opacity: 1;
  animation: fadeOutAndIn 12s infinite;
}

.inhale {
  color: #fff;
  position: fixed;
  bottom: 150px;
  width: 80%;
  opacity: 0;
  animation: fadeOutAndIn 12s infinite;
}

.anim-circle {
  color: transparent;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: rgba(133, 126, 185, 0.889);
  animation: breathe 8s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Needed to position pseudo-elements */
}

.anim-circle::before,
.anim-circle::after {
  content: attr(data-text); /* Use the 'data-text' attribute as content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  opacity: 0; /* Set initial opacity to 0 */
}

@keyframes breathe {
  0%,
  100% {
    box-shadow: 0 0 0 15px rgba(133, 126, 185, 0.3),
      0 0 0 30px rgba(133, 126, 185, 0.3), 0 0 0 45px rgba(133, 126, 185, 0.3),
      0 0 0 60px rgba(133, 126, 185, 0.3), 0 0 0 75px rgba(133, 126, 185, 0.3);
    .exhale {
      opacity: 1;
    }
    /* Hide "inhale" text */
    .inhale {
      opacity: 0;
    }
  }
  50% {
    box-shadow: 0 0 0 25px rgba(133, 126, 185, 0.3),
      0 0 0 50px rgba(133, 126, 185, 0.3), 0 0 0 75px rgba(133, 126, 185, 0.3),
      0 0 0 100px rgba(133, 126, 185, 0.3), 0 0 0 125px rgba(133, 126, 185, 0.3);

    .exhale {
      opacity: 0;
    }
    .inhale {
      opacity: 1;
    }
  }
}

@keyframes fadeOutAndIn {
  0%,
  100% {
    opacity: 1; /* Image is fully visible at the start and end */
  }
  50% {
    opacity: 0; /* Image will be hidden (completely transparent) at 4 seconds */
  }
}
