.signup-page-1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99%;
}

.logo-container {
  height: 320px;
  width: 300px;
}

.logo-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
