.exercises {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
  height: 90vh;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ex-box-1 {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
}

.ex-box-2 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ex-box-3 {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.hero-image {
  height: 82%;
}

.bubble {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--selected-purple, #857eb9);
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: var(--font), #fff;
  font-weight: bold;
}
