:root {
  --background: #b5b0d8;
  --selected-purple: #857eb9;
  --logo: #782eff;
  --font: #fff;

  --main: #5e63a3;
  --background: #b5b0d8;
  --background2: #cfcce8;
  --white: #fff;
  --selected: #857eb9;
  --bar: #eee;
  --darkpurple: #464071;
  --textpurple: #4c438d;
}

.App {
  color: var(--font);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
  color: var(--font);
  display: flex;
  flex-direction: column;
  align-items: center;
}
